[submodule "Toolkit/UnityToolkit"]
	path = Toolkit/UnityToolkit
	url = https://github.com/NicoIer/UnityToolkit.git
[submodule "GameCore/GameCore"]
	path = GameCore/GameCore
	url = https://github.com/NicoIer/GameCore.git
