@page "/game-server-web"
@using Server.Game
@rendermode InteractiveServer
<PageTitle>Entity</PageTitle>
@foreach (var server in GameServer.mgrs)
{
    <h1>Server Thread[@server.ThreadId]</h1>
    <span>entities</span>
    <div>
        @foreach (var entity in server.entities.Values)
        {
            <ol>
                <div>
                    <span>id:@entity.id-owner:@entity.owner</span>
                    @foreach (var component in entity.components)
                    {
                        <span>component:@component</span>
                    }
                </div>
            </ol>
        }
    </div>
}

@code {

    const int Interval = 1000;
    private Timer? _timer;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _timer = new System.Threading.Timer(RefreshAll, null, 0, Interval);
    }

    private void RefreshAll(object? state)
    {
        InvokeAsync(StateHasChanged);
    }

}